<mat-toolbar color="primary" class="navbar-sticky">
    <div class="navbar-container">
      <a href="#" class="navbar-brand">
        <img src="assets/images/global/logo2.png" alt="Logo C&E IPS S.A.S" class="logo">
      </a>
  
      <div class="desktop-nav">
        <a mat-button href="#">Inicio</a>
        <a mat-button href="#">Servicios</a>
        <a mat-button href="#">Afiliaciones</a>
        <a mat-button href="#">Red de Atención</a>
        <a mat-button href="#">Contáctanos</a>
      </div>
  
      <div class="desktop-nav">
         <a mat-raised-button color="accent" href="#">Portal Transaccional</a>
      </div>
  
      <div class="mobile-nav">
         <button mat-icon-button (click)="toggleMenu()">
            <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
         </button>
      </div>
    </div>
  </mat-toolbar>
  
  <div class="mobile-menu" [class.active]="isMenuOpen">
      <a mat-button href="#">Inicio</a>
      <a mat-button href="#">Servicios</a>
      <a mat-button href="#">Afiliaciones</a>
      <a mat-button href="#">Red de Atención</a>
      <a mat-button href="#">Contáctanos</a>
      <a mat-raised-button color="accent" href="#">Portal Transaccional</a>
  </div>